.display-container {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--very-dark-grayish-cyan);
  border-radius: 10px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .items {
    flex-direction: column;
  }

  .items-desc span {
    margin: 10px 0;
  }
}
.items + .items {
  margin-top: 30px;
}

.items-desc {
  display: flex;
  flex-direction: column;
}

.items-desc h4 {
  color: var(--very-light-grayish-cyan);
  font-size: 1rem;
  margin-left: 10px;
}

.items-desc span {
  color: var(--dark-grayish-cyan);
  font-size: 1rem;
  margin-left: 10px;
}

.items .value {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
}

button {
  background-color: var(--primary-color);
  color: var(--very-dark-grayish-cyan);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
